@forward 'button1';
@forward 'button2';
@forward 'button3';
@forward 'button4';
@forward 'select1';
@forward 'mainContainer';
@forward 'header';
@forward 'footer';
@forward 'toggle';
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: 'Varela Round', sans-serif;
}
body {
  margin: 0;
  background-color: #ebf5ff;
}

body:has(input[type='checkbox']:checked) {
  background-color: #001f3d;
}
